@using Car_Rental_System.CustomModels
@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-3 p-3 shadow rounded">
                <div class="d-flex justify-content-between mb-3 p-3">
                    <h3 class="text-info">Car List</h3>
                    <a asp-controller="Car" asp-action="Create" class="btn btn-outline-primary rounded">Add New Car</a>
                </div>
                <div class="p-3">
                    <table class="table table-bordered text-info text-center">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Seating Capacity</th>
                                <th>Engine</th>
                                <th>Fuel Type</th>
                                <th>Passing Year</th>
                                <th>Car Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Model</td>
                                    <td>@item.Seating_Capacity</td>
                                    <td>@item.Engine</td>
                                    <td>@item.Fuel_Type</td>
                                    <td>@item.Passing_Year</td>
                                    <td>@item.Car_Number</td>
                                    <td>
                                        <a asp-route-id="@item.Id" asp-controller="Car" asp-action="edit" class="btn btn-outline-primary rounded">Edit</a>
                                        <a asp-route-id="@item.Id" asp-controller="Car" asp-action="delete" class="btn btn-outline-danger rounded">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>               
            </div>
        </div>
    </div>
</div>


